<!-- ***** Header Area Start ***** -->
<header class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    
                    
                    <a href="#" class="logo">
                        
                        <img src="../../assets/images/matific-logo-black.png" class="black-logo" width="120px" alt="Matific Logo">
                    </a>
                        
                    <div class="number">
                        <a href="#" onclick="setLanguage('en')">
                            <img src="../../assets/flags/au.png" alt="flags">  EN
                        </a>
                        <a href="#" onclick="setLanguage('ae')">
                            <img src="../../assets/flags/ae.png" alt="flags"> AE
                        </a>

                        <a href="tel:1300014419"><i class="fas fa-phone-alt"></i> 1300 014 419</a>
                    </div>
                    
                    <!-- ***** Logo End ***** -->
                    <!-- ***** Menu Start ***** -->
                    <ul class="nav">
                        
                        <li class="scroll-to-section"><a href="#" class="active">Math Activities</a></li>
                        <li class="scroll-to-section"><a href="#">Matific Platform</a></li>
                        <li class="scroll-to-section"><a href="#">Our Pedagogy</a></li>
                        <li class="scroll-to-section"><a href="#">For Parents</a></li>
                        
                        <a class="btn-border mx-4" href="#">Login</a>
                        <a class="btn-main" href="#">Free Trial</a>
                    </ul>
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>
                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- ***** Header Area End ***** -->