<app-header></app-header>

<section class="container text-center main-text">
<div class="text-container">

    <h1 class="main-title">Maths educational platform designed by pedagogical experts</h1>
    <h4 class="text-white py-5">Personalised maths learning for K-6 students aligned to your local curriculm</h4>

    <div class="button-group">
    <a class="btn-border" data-toggle="modal" data-target="#myModal" href="#"><i class="fas fa-play-circle"></i> Why Matific?</a>
    <a class="btn-main" href="#">Start a Free Trial</a>
    </div>

</div>
</section>

<div id="div1"></div>

<app-maths-activities></app-maths-activities>

<div class="wave-container">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
        <path fill="#205fab" fill-opacity="1"
            d="M0,256L80,224C160,192,320,128,480,90.7C640,53,800,43,960,48C1120,53,1280,75,1360,85.3L1440,96L1440,0L1360,0C1280,0,1120,0,960,0C800,0,640,0,480,0C320,0,160,0,80,0L0,0Z">
        </path>
    </svg>
</div>

<div class="box">
    <img src="../assets/shapes/circle-regular.svg" alt="icons">
    <img src="../assets/shapes/circle-solid.svg" alt="icons">
    <img src="../assets/shapes/equals-solid.svg" alt="icons">
    <img src="../assets/shapes/minus-solid.svg" alt="icons">
    <img src="../assets/shapes/percentage-solid.svg" alt="icons">
    <img src="../assets/shapes/plus-solid.svg" alt="icons">
    <img src="../assets/shapes/square-regular.svg" alt="icons">
    <img src="../assets/shapes/square-solid.svg" alt="icons">
    <img src="../assets/shapes/times-solid.svg" alt="icons">
    <img src="../assets/shapes/triangle-solid.svg" alt="icons">
    
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            
            <div class="modal-body">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/cr_topHuNLY" title="YouTube video player"
                    frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
       
        </div>

    </div>
</div>