<h5 class="text-center text-white pb-5">Try some of our maths activities...</h5>

<section class="container" id="">
            <div class="owl-carousel col-lg-12">
                
                <div class="card" *ngFor="let activity of activities"> 
                    <img src="{{activity.thumbnail_url}}" alt=""> 
                    <div class="card-title"><i class="far fa-play-circle"></i><h4>{{activity.title}}</h4></div>
                </div>
            
            </div>      

</section>



